# DTSC670: Foundations of Machine Learning Models
## Module 1
## Assignment 1: COVID-19 Data Wrangling

#### Name: Betty Tai

The purpose of this assignment is to hone your data wrangling skills.  You are supplied an Excel file called `BrazilCOVIDData.xlsx` - be sure to put the data file in the same directory as this Jupyter Notebook.

Please note that it will take around 5 minutes to read-in all of the data in this file.

The <b> features </b> DataFrame must contain the following feature columns in this exact order: days_cube, days_sq, days, temp, pop_dense_sq, pop_dense, pop.

The second DataFrame contains target values and must be called <b> response </b> , which are the accumulated case counts for all capital cities over time. The second DataFrame contains target values and must be called response , which are the
accumulated case counts for all capital cities over time. Your task is to construct these two
Pandas DataFrames using the data provided.

Some things to note: There are 27 capital cities in Brazil. Each capital city has 151 days of recorded data starting from day zero, which is the day of the first outbreak. One of the Excel sheets spells a capital city Aracajú with an accent, whereas the other sheets spell the same capital city as Aracaju - this may or may not affect you, but beware. Population density is defined as the population of a city divided by the area in kilometers squared of the city.

In [1]:
import pandas as pd
import numpy as np

In [2]:
### ENTER CODE HERE ###
#Import excel data as the first dataframe df
fileName = "BrazilCOVIDData.xlsx"
xls = pd.ExcelFile(fileName)
df = pd.read_excel(xls, 'Brazil Covid-19 data')
# Insert as many cells as you need, but be sure your code is very neat and very well documented.

In [3]:
# Imported the second sheet as the second dataframe df2
df2 = pd.read_excel(xls, 'Temperature by State')

### Days

At first I wanted to keep the dataframe simple by using days and the city name. I used a for loop to iterate through the cities. 
For the sake of the join to prepare early on, I prepared for te Interior/Metropolitan which happened to be 151 days.

In [4]:
result_df = df.loc[df['Municipality'] == 'Rio Branco']
result_df = result_df.loc[result_df['State'] == 'AC']
result_df1 = result_df.groupby(['Municipality']).sum()
cities = ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 'São Paulo', 'Aracaju', 'Palmas']

for i in range(1,27):
    result_df = result_df.append(df.loc[df['Municipality'] == cities[i]])

result_df = result_df[['Municipality', 'Interior/Metropolitan']]
result_df.columns = [i.replace('Interior/Metropolitan','days') for i in result_df.columns]
result_df = result_df.groupby(['Municipality']).sum()
result_df

                 days
Municipality
Aracaju         151.0
Belo Horizonte  151.0
Belém           151.0
Boa Vista       151.0
Brasília        151.0
Campo Grande    151.0
Cuiabá          151.0
Curitiba        151.0
Florianópolis   151.0
Fortaleza       151.0
Goiânia         151.0
João Pessoa     151.0
Macapá          151.0
Maceió          151.0
Manaus          151.0
Natal           151.0
Palmas          151.0
Porto Alegre    151.0
Porto Velho     151.0
Recife          151.0
Rio Branco      151.0
Rio de Janeiro  151.0
Salvador        151.0
São Luís        151.0
São Paulo       151.0
Teresina        151.0
Vitória         151.0

### Pop

In this dataframe, I wanted to keep it simple by using just pop and the city. I used a for loop to iterate through the cities,
as well as change the Municipality to CITY and 'Population as of 2019' to pop for the purpose of preparing for the join early
on.

In [5]:
df_pop = df.loc[df['Municipality'] == 'Rio Branco']
df_pop = df_pop.loc[df_pop['State'] == 'AC']
cities = ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 'São Paulo', 'Aracaju', 'Palmas']

for i in range(1,27):
    df_pop = df_pop.append(df.loc[df['Municipality'] == cities[i]])

df_pop = df_pop[['Municipality', 'Population as of 2019']]
df_pop.columns = [i.replace('Municipality','CITY') for i in df_pop.columns]
df_pop.columns = [i.replace('Population as of 2019','pop') for i in df_pop.columns]
df_pop = df_pop.drop_duplicates()
df_pop = df_pop.drop([6512,6516, 6901, 6331, 6909, 9400]).sort_values(by=['CITY'])
df_pop

                 CITY       pop
6998          Aracaju    657013
7552   Belo Horizonte   2512070
5415            Belém   1492745
5384        Boa Vista    399213
10798        Brasília   3015268
10353    Campo Grande    895982
10450          Cuiabá    612547
9247         Curitiba   1933105
9640    Florianópolis    500973
6193        Fortaleza   2669342
10648         Goiânia   1516113
6581      João Pessoa    809015
5549           Macapá    503327
6940           Maceió   1018948
5357           Manaus   2182763
6407            Natal    884122
5689           Palmas    299127
10165    Porto Alegre   1483771
5262      Porto Velho    529544
6840           Recife   1645727
5312       Rio Branco    407319
8485   Rio de Janeiro   6718903
7405         Salvador   2872347
5881         São Luís   1101884
9072        São Paulo  12252023
6126         Teresina    864845
8417          Vitória    362097

# First merging

Next, I used the IS_CAPITAL list to formulate my list of which were actually the capital cities in quesiton. Then after
replacing the ANNUAL with temp, I merged the prior two dataframes df_pop and result_df with the titles <b> Pop </b> and <b> Days </b>.

In [6]:
df2["IS_CAPITOL"]=df2["IS_CAPITOL"].replace('y','Y')
df2 = df2.loc[df2['IS_CAPITOL'] == 'Y']
result_df2 = df2[['CITY', 'ANNUAL']]
result_df2.columns = [i.replace('ANNUAL','temp') for i in result_df2.columns]
result_df2.sort_values(by=['CITY'])
joined_df_pop_temp = df_pop.merge(result_df2, how='inner', left_on='CITY', right_on = 'CITY')
joined_df_pop_temp.columns = [i.replace('Population as of 2019','pop') for i in joined_df_pop_temp.columns]
joined_df_pop_temp_days = result_df.merge(joined_df_pop_temp, how='inner', left_on='Municipality', right_on = 'CITY')
joined_df_pop_temp_days

     days            CITY       pop  temp
0   151.0         Aracaju    657013  78.8
1   151.0  Belo Horizonte   2512070  70.0
2   151.0           Belém   1492745  78.6
3   151.0       Boa Vista    399213  81.3
4   151.0        Brasília   3015268  69.1
5   151.0    Campo Grande    895982  73.0
6   151.0          Cuiabá    612547  80.0
7   151.0        Curitiba   1933105  62.2
8   151.0   Florianópolis    500973  68.7
9   151.0       Fortaleza   2669342  79.9
10  151.0         Goiânia   1516113  73.8
11  151.0     João Pessoa    809015  79.0
12  151.0          Macapá    503327  79.9
13  151.0          Maceió   1018948  76.6
14  151.0          Manaus   2182763  81.0
15  151.0           Natal    884122  80.0
16  151.0          Palmas    299127  77.0
17  151.0    Porto Alegre   1483771  67.1
18  151.0     Porto Velho    529544  78.1
19  151.0          Recife   1645727  78.1
20  151.0      Rio Branco    407319  76.6
21  151.0  Rio de Janeiro   6718903  75.6
22  151.0        Salvador   2872347  77.5
23  151.0        São Luís   1101884  79.0
24  151.0       São Paulo  12252023  68.7
25  151.0        Teresina    864845  82.0
26  151.0         Vitória    362097  75.6

In [7]:
# Here I imported the third dataframe from the excel sheet with the city area. 

df3 = pd.read_excel(xls, 'City area')
df3.columns = [i.replace('City','CITY') for i in df3.columns]

### Rearranging the order and dropping columns

Here I am rearranging the order as well as dropping the columns to prepare for features: days_cube, days_sq, days, temp, pop_dense_sq, pop_dense, pop.

In [8]:
column_names = ["days_cube", "days_sq", "days", "temp", "pop_dense_sq", "pop_dense", "pop"]
#df = df.reindex(columns=column_names)

joined_df2 = df3.merge(joined_df_pop_temp_days, how='inner', left_on='CITY', right_on = 'CITY')
joined_df2['pop'] = joined_df2['pop'].astype('float')
joined_df2['SQ_KM'] = joined_df2['SQ_KM'].astype('float')
joined_df2['pop_dense'] = joined_df2['pop']/joined_df2['SQ_KM']
joined_df2['pop_dense_sq'] = joined_df2['pop_dense']**2
joined_df2['days_sq'] = joined_df2['days']**2
joined_df2['days_cubed'] = joined_df2['days']**3

### Accumulated Cases

I could have done it a little differently, and used a dataframe that I had early on, but I wanted to keep the dataframes separated and clean so that there is just a city and Accumulated cases. This is for Responses. Again, there is code reuse that I could have put into functions.

In [9]:
result_df_acc = df.loc[df['Municipality'] == 'Rio Branco']
result_df_acc = result_df_acc.loc[result_df_acc['State'] == 'AC']
result_df_acc = result_df_acc.groupby(['Municipality']).sum()
cities = ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 'São Paulo', 'Aracaju', 'Palmas']

for i in range(1,27):
    result_df_acc = result_df_acc.append(df.loc[df['Municipality'] == cities[i]])

    
result_df_acc = result_df_acc[['Municipality', 'Accumulated cases']]
result_df_acc = result_df_acc.groupby(['Municipality']).sum()
result_df_acc.columns = [i.replace('Municipality','CITY') for i in result_df_acc.columns]
result_df_acc

                Accumulated cases
Municipality
Aracaju                   1764812
Belo Horizonte            1168694
Belém                     2111002
Boa Vista                 1472264
Brasília                  6505121
Campo Grande               568680
Cuiabá                     640100
Curitiba                   965631
Florianópolis              233933
Fortaleza                 3734175
Goiânia                   1041556
João Pessoa               1432298
Macapá                    1174020
Maceió                    1591366
Manaus                    2959829
Natal                     1231355
Palmas                     343372
Porto Alegre               487264
Porto Velho               1408445
Recife                    2313014
Rio de Janeiro            5801156
Salvador                  3819937
São Luís                  1421030
São Paulo                14592406
Teresina                  1073956
Vitória                    786359

In [10]:
# Get Final Features DataFrame
features = joined_df2[['CITY', 'days_cubed', 'days_sq', 'days', 'temp', 'pop_dense_sq', 'pop_dense', 'pop']]
# Get Final Response DataFrame
response = result_df_acc

# Prepare DataFrames for Grading

Prepare your DataFrame for grading by:

1. Write the names of the features and response DataFrames, so that they are output for the user (you do not need to print).

2. Using the NumPy [around()](https://numpy.org/doc/stable/reference/generated/numpy.around.html) function to round all the values in both DataFrames to ___ZERO decimal places___ - this function returns a NumPy array.  Call the two NumPy arrays `features_round` and `response_round`, respectively.

3. Compute the sum of every column for both `features_round` and `response_round`, and save those values into new numpy arrays called `features_final` and `response_final`.

___You MUST print your final answer, which are the NumPy arrays discussed above in (2) and (3), using the `print()` function!___

___Be sure to run all cells of your notebook prior to submitting, so that all output is rendered and visisble.___

In [11]:
features

,CITY,days_cubed,days_sq,days,temp,pop_dense_sq,pop_dense,pop
0,Rio Branco,3442951.0,22801.0,151.0,76.6,2.125476e+03,46.102886,407319.0
1,Maceió,3442951.0,22801.0,151.0,76.6,3.976145e+06,1994.027397,1018948.0
2,Macapá,3442951.0,22801.0,151.0,79.9,6.171504e+03,78.558920,503327.0
3,Manaus,3442951.0,22801.0,151.0,81.0,3.666093e+04,191.470439,2182763.0
4,Salvador,3442951.0,22801.0,151.0,77.5,1.713978e+07,4140.021620,2872347.0
5,Fortaleza,3442951.0,22801.0,151.0,79.9,7.236067e+07,8506.507330,2669342.0
6,Brasília,3442951.0,22801.0,151.0,69.1,2.700825e+05,519.694588,3015268.0
7,Vitória,3442951.0,22801.0,151.0,75.6,1.503634e+07,3877.671878,362097.0
8,Goiânia,3442951.0,22801.0,151.0,73.8,4.208955e+06,2051.573748,1516113.0
9,São Luís,3442951.0,22801.0,151.0,79.0,1.774650e+06,1332.159813,1101884.0
10,Cuiabá,3442951.0,22801.0,151.0,80.0,3.462256e+04,186.071385,612547.0
11,Campo Grande,3442951.0,22801.0,151.0,73.0,1.224779e+04,110.669713,895982.0
12,Belo Horizonte,3442951.0,22801.0,151.0,70.0,5.763283e+07,7591.628891,2512070.0
13,Belém,3442951.0,22801.0,151.0,78.6,1.985415e+06,1409.047574,1492745.0
14,João Pessoa,3442951.0,22801.0,151.0,79.0,1.463162e+07,3825.130024,809015.0
15,Curitiba,3442951.0,22801.0,151.0,62.2,2.000791e+07,4473.019876,1933105.0
16,Recife,3442951.0,22801.0,151.0,78.1,5.699052e+07,7549.206422,1645727.0
17,Teresina,3442951.0,22801.0,151.0,82.0,3.871212e+05,622.190647,864845.0
18,Rio de Janeiro,3442951.0,22801.0,151.0,75.6,2.843516e+07,5332.462698,6718903.0
19,Natal,3442951.0,22801.0,151.0,80.0,2.727159e+07,5222.220910,884122.0
20,Porto Alegre,3442951.0,22801.0,151.0,67.1,8.920118e+06,2986.656602,1483771.0
21,Porto Velho,3442951.0,22801.0,151.0,78.1,2.412818e+02,15.533249,529544.0
22,Boa Vista,3442951.0,22801.0,151.0,81.3,4.927685e+03,70.197468,399213.0
23,Florianópolis,3442951.0,22801.0,151.0,68.7,5.501822e+05,741.742671,500973.0
24,São Paulo,3442951.0,22801.0,151.0,68.7,6.497233e+07,8060.541447,12252023.0
25,Aracaju,3442951.0,22801.0,151.0,78.8,1.305233e+07,3612.800167,657013.0
26,Palmas,3442951.0,22801.0,151.0,77.0,1.815538e+04,134.741892,299127.0

In [12]:
response

                Accumulated cases
Municipality
Aracaju                   1764812
Belo Horizonte            1168694
Belém                     2111002
Boa Vista                 1472264
Brasília                  6505121
Campo Grande               568680
Cuiabá                     640100
Curitiba                   965631
Florianópolis              233933
Fortaleza                 3734175
Goiânia                   1041556
João Pessoa               1432298
Macapá                    1174020
Maceió                    1591366
Manaus                    2959829
Natal                     1231355
Palmas                     343372
Porto Alegre               487264
Porto Velho               1408445
Recife                    2313014
Rio de Janeiro            5801156
Salvador                  3819937
São Luís                  1421030
São Paulo                14592406
Teresina                  1073956
Vitória                    786359

In [13]:
features_round = np.around(features, decimals=0)
features_final = features_round.sum(axis=0)
print(features_final)

CITY            Rio BrancoMaceióMacapáManausSalvadorFortalezaB...
days_cubed                                            9.29597e+07
days_sq                                                    615627
days                                                         4077
temp                                                         2050
pop_dense_sq                                          4.09719e+08
pop_dense                                                   74684
pop                                                   5.01401e+07
dtype: object

In [14]:
response_round = np.around(response, decimals=0)
response_final = response_round.sum(axis=0)
print(response_final)

Accumulated cases    60641775
dtype: int64